.product-list-sale {
  .tabs {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 768px) {
      gap: 0.4rem;
    }
  }

  .sub-tab-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
  }

  .upgrade-list {
    .women-decor {
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .women-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-65%, -50%);
        font-size: 3.2rem;
        font-weight: bold;
        color: #fff;

        @media screen and (max-width: 1024px) {
          font-size: 3.2rem;
        }

        @media screen and (max-width: 768px) {
          font-size: 1.4rem;
        }
      }
    }

    .tabs {
      padding: 1.2rem 0;
      font-size: 1.2rem;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .tab {
        margin: 0 !important;
        background-color: #fff;
        color: #333;

        &:hover {
          background-color: #ff7518 !important;
          color: #fff !important;
          border-color: #ff7518 !important;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .upgrade {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1.2rem;

      @media screen and (max-width: "1200px") {
        grid-template-columns: repeat(4, 1fr);
      }

      @media screen and (max-width: "850px") {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width: "768px") {
        grid-template-columns: repeat(2, 1fr);
      }

      &-item {
        background: #f9f9f9;
        border-radius: 0.8rem;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 3;
        // overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        position: relative;
        /* Đảm bảo tất cả các item có chiều cao bằng nhau */
        flex-grow: 1;
        align-items: stretch;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        /* Đảm bảo các item có chiều cao bằng nhau */
        min-height: 100%;
        /* Đặt chiều cao tối thiểu */
        height: 100%;

        &-header {
          display: flex;
          justify-content: space-between;

          .decor-product {
            width: 2.4rem !important;
            height: 3rem !important;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%) !important;
            z-index: 3;

            @media screen and (max-width: 1024px) {
              width: 2.2rem !important;
              height: 3.6rem !important;
            }

            @media screen and (max-width: 768px) {
              width: 1.6rem !important;
              height: 2.2rem !important;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        &-img {
          position: relative;
          overflow: hidden;
          padding-bottom: calc(208 / 208 * 100%);

          .img-content {
            transition: all 0.5s ease-in-out !important;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
          }

          &:hover .img-content {
            transform: scale(1.05);
          }

          .frame-product {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
          }

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        &-content {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          gap: 1.2rem;
          justify-content: space-between;

          &-tt {
            font-size: 1.4rem;
            font-weight: 500;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
            line-height: 1.4;

            @media screen and (max-width: 768px) {
              font-size: 1.2rem;
            }

            &:hover {
              color: #ef373e;
            }
          }

          &-body {
            display: flex;
            align-items: start;
            gap: 1.2rem;
            flex-direction: column;

            &-tt {
              font-size: 1.2rem;
            }

            &-price {
              font-size: 1.6rem;
              color: #ef373e;
              font-weight: 500;

              @media screen and (max-width: 768px) {
                font-size: 1.4rem;
              }
            }

            &-reduced {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.6rem;

              .price-reduced {
                font-size: 1.4rem;
                text-decoration-line: line-through;
                color: #64748b;
              }
            }
          }
        }
      }
    }

    .percent {
      font-size: 1.2rem;
      border: 1px solid #ef373e;
      padding: 1rem;
      border-radius: 0.4rem;
      color: #ef373e;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
    position: relative;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .container-spin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20rem;
  }
}

@keyframes fall {
  0% {
    opacity: 1;
    top: -10%;
    transform: translateX (20px) rotate(0deg);
  }

  20% {
    opacity: 0.8;
    transform: translateX (-20px) rotate(45deg);
  }

  40% {
    transform: translateX (-20px) rotate(90deg);
  }

  60% {
    transform: translateX (-20px) rotate(135deg);
  }

  80% {
    transform: translateX (-20px) rotate(180deg);
  }

  100% {
    top: 110%;
    transform: translateX (-20px) rotate(225deg);
  }
}

.leaf3 {
  transform: rotateX(180deg);
}

@keyframes fly-up {
  0% {
    bottom: -20%;
  }

  100% {
    bottom: 100%;
  }
}

@keyframes shake {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(-2px, 0);
  }

  50% {
    transform: translate(2px, 0);
  }

  75% {
    transform: translate(-2px, 0);
  }

  100% {
    transform: translate(0);
  }
}

.rocket {
  position: fixed;
  bottom: -20%;
  right: 0;
  z-index: 99;
  animation: fly-up 10s infinite;

  @media screen and (max-width: 850px) {
    display: none;
  }
}

.rocket-fly {
  z-index: 99;
  width: 200px;
  height: 200px;
  animation: fly-up 4s infinite alternate; // Đảm bảo rằng cả hai hoạt ảnh đều được định nghĩa đúng
  animation-fill-mode: forwards; // Thêm thuộc tính này để giữ trạng thái cuối cùng của hoạt ảnh
}

@keyframes shake {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(-2px, 2px);
  }

  50% {
    transform: translate(2px, -2px);
  }

  75% {
    transform: translate(-2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

.rocket-fly.shake {
  position: relative;
  animation: shake 0.5s infinite;
  z-index: 99;
}

.flash-sale-banner {
  position: fixed;
  right: 0;
  top: 20vh;
  opacity: 0.5;
  animation: wavyghost 16s infinite linear;
  z-index: 999;
  height: max-content;
  width: fit-content;

  img {
    width: 150px;
    height: 150px;
  }

  @media screen and (max-width: 850px) {
    display: none;
  }
}

.flash-sale-banner2 {
  position: fixed;
  right: 0;
  opacity: 0.5;
  top: 70vh;
  animation: wavyghost reverse 13s infinite linear;
  z-index: 999;
  height: max-content;
  width: fit-content;

  @media screen and (max-width: 850px) {
    display: none;
  }

  img {
    width: 150px;
    height: 150px;
  }
}

@keyframes wavyghost {
  0% {
    transform: translate(0vw, 0vh) scale(1.5, 1.5);
  }

  20% {
    transform: translate(-20vw, 20vh) rotate(10deg);
  }

  40% {
    transform: translate(-40vw, 0vh) scale(1.5, 1.5);
  }

  60% {
    transform: translate(-60vw, -20vh) rotate(-10deg);
  }

  80% {
    transform: translate(-80vw, 0vh) scale(1.5, 1.5);
  }

  100% {
    transform: translate(-100vw, 20vh) rotate(10deg);
  }
}

.input-search {
  width: 500px;
  border-radius: 20px !important;

  @media screen and (max-width: 768px) {
    width: 200px;
  }
}